:root {
  --background-color: #e3afbc;
  --background-color-dark: #ee4c7c;
  --text-color: #5d001e;
  --text-color-current: #e3e2df; }

[data-theme="dark"] {
  --background-color: #5d001e;
  --background-color-dark: #9a1750;
  --text-color: #e3afbc;
  --text-color-current: #5d001e; }

.bg-color-2 {
  background: var(--background-color);
  color: var(--text-color); }

:root {
  --background-color: #e3afbc;
  --background-color-dark: #ee4c7c;
  --text-color: #5d001e;
  --text-color-current: #e3e2df; }

[data-theme="dark"] {
  --background-color: #5d001e;
  --background-color-dark: #9a1750;
  --text-color: #e3afbc;
  --text-color-current: #5d001e; }

.bg-color-2 {
  background: var(--background-color);
  color: var(--text-color); }

.menu-btn {
  position: absolute;
  z-index: 6;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 1s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: var(--text-color);
    transition: all 1s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
  z-index: 5; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    background: var(--background-color-dark);
    opacity: 0.9;
    margin: 0;
    padding: 0;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 1s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: var(--background-color-dark);
    opacity: 0.9;
    transform: translate3d(0, 100%, 0);
    transition: all 1s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 1s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: var(--text-color-current); }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: var(--text-color);
    text-decoration: none;
    transition: all 1s ease-out; }
    .menu .nav-link:hover {
      color: var(--text-color-current); }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

.switch {
  position: absolute;
  right: 70px;
  top: 22px; }

.switch input {
  display: none; }

.slider {
  width: 50px;
  height: 24px;
  border-radius: 12px;
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 10px;
  background-color: #9a1750;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

input:checked + .slider {
  background-color: #e3afbc; }

input:focus + .slider {
  box-shadow: 0 0 1px #e3afbc; }

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

:root {
  --background-color: #e3afbc;
  --background-color-dark: #ee4c7c;
  --text-color: #5d001e;
  --text-color-current: #e3e2df; }

[data-theme="dark"] {
  --background-color: #5d001e;
  --background-color-dark: #9a1750;
  --text-color: #e3afbc;
  --text-color-current: #5d001e; }

.bg-color-2 {
  background: var(--background-color);
  color: var(--text-color); }

.recipies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; }
  .recipies .item {
    position: relative;
    margin-top: 40px; }
    .recipies .item img {
      border: 3px solid var(--text-color-current);
      opacity: 0.7;
      width: 300px;
      height: 337px;
      object-fit: cover; }
      .recipies .item img:hover {
        opacity: 1;
        border-color: var(--text-color);
        transition: all 1s ease-out; }
    .recipies .item .recipeHeader {
      position: absolute;
      top: -30px;
      text-align: center; }

.recipe .ingredients {
  margin: 30px;
  border: 3px solid var(--text-color);
  max-height: 300px;
  border-radius: 5px;
  position: sticky;
  top: 0;
  background-color: #ee4c7c;
  padding: 5px 5px 15px 15px;
  font-size: 20px;
  z-index: 3; }
  .recipe .ingredients ul {
    padding: 0;
    margin: 0;
    list-style-type: none; }

.recipe .steps {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  padding: 30px; }
  .recipe .steps .step {
    border: 3px solid var(--text-color);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative; }
    .recipe .steps .step .dot {
      height: 40px;
      width: 40px;
      background-color: var(--text-color-current);
      border-radius: 50%;
      position: absolute;
      top: -20px;
      left: 5px;
      border: 3px solid var(--text-color);
      padding: 4px; }
  .recipe .steps img {
    height: 300px;
    width: calc((100vw / 2) - 45px);
    border: 3px solid var(--text-color);
    border-radius: 5px;
    object-fit: cover; }

.recipe a:link,
.recipe :visited,
.recipe :hover {
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer; }

.ingredient-line {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.ingredient {
  display: flex;
  width: 450px; }
  .ingredient-checkbox {
    margin-right: 5px; }
  .ingredient-amount {
    flex: 0 1 calc(25% - 10px);
    margin-right: 10px; }
  .ingredient-name {
    display: block;
    flex: 1 1 auto; }
  .ingredient a:hover {
    color: var(--text-color-current); }

:root {
  --background-color: #e3afbc;
  --background-color-dark: #ee4c7c;
  --text-color: #5d001e;
  --text-color-current: #e3e2df; }

[data-theme="dark"] {
  --background-color: #5d001e;
  --background-color-dark: #9a1750;
  --text-color: #e3afbc;
  --text-color-current: #5d001e; }

.bg-color-2 {
  background: var(--background-color);
  color: var(--text-color); }

.form {
  max-width: 300px;
  min-width: 50vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border: 2px solid var(--text-color);
  background: white;
  display: grid; }
  .form-header {
    grid-column: 1;
    margin: auto;
    margin-top: 25px; }
  .form-email, .form-name, .form-message {
    grid-column: 1;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    height: 30px;
    text-align: center; }
  .form-message {
    height: 100px;
    resize: none; }
    .form-message:focus {
      outline: 1px solid var(--text-color); }
  .form input:focus {
    outline: 1px solid var(--text-color); }
  .form-button {
    grid-column: 1;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 25px;
    height: 30px;
    width: auto; }

* {
  box-sizing: border-box; }

body {
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }
  body#bg-img {
    background: url(../img/cake1.jpg);
    background-attachment: fixed;
    background-size: cover; }
  body .bg-layer {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    color: var(--text-color);
    background: var(--background-color);
    opacity: 0.8; }

h1 {
  margin-left: 3vw;
  margin-top: 3vw; }

h2 {
  margin: 0;
  margin-left: 8vw;
  margin-right: 8vw;
  margin-bottom: 5vw;
  font-family: cursive;
  font-size: 80px; }

h3 {
  margin: 5px; }

#home p {
  margin: 0;
  margin-left: 8vw;
  margin-right: 8vw; }

@media screen and (min-width: 1171px) {
  .ingredient {
    width: 380px; } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .ingredient {
    width: 380px; } }

@media screen and (min-width: 501px) and (max-width: 768px) {
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 100vh;
    transform: translate3d(100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 0; }
  .lg-heading {
    font-size: 20px; }
  .sm-heading {
    font-size: 50px; }
  p {
    font-size: 12px; }
  .ingredients ul {
    columns: 2 !important; }
    .ingredients ul .ingredient {
      width: 350px !important; } }

@media screen and (max-width: 500px) {
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 100vh;
    transform: translate3d(100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 0; }
  .lg-heading {
    font-size: 20px;
    max-width: calc(100vw - 150px); }
  .sm-heading {
    font-size: 40px; }
  .ingredients {
    max-height: 250px !important;
    overflow: scroll; }
    .ingredients ul {
      columns: 1 !important; }
    .ingredients .ingredient {
      width: 280px !important;
      font-size: 13px; }
  .steps {
    grid-template-columns: 1fr !important; }
    .steps img {
      width: 100% !important; } }
