.switch {
  position: absolute;
  right: 70px;
  top: 22px;
}

.switch input {
  display: none;
}

.slider {
  width: 50px;
  height: 24px;
  border-radius: 12px;
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 10px;
  background-color: $quaternary-color;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $secondary-color;
}

input:focus + .slider {
  box-shadow: 0 0 1px $secondary-color;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
