// color scheme is obtained from https://visme.co/blog/website-color-schemes/
$primary-color: #5d001e;
$secondary-color: #e3afbc;
$tertiary-color: #e3e2df;
$quaternary-color: #9a1750;
$quinary-color: #ee4c7c;

$show-home-image: true;
$home-image: url(../img/cake1.jpg);
$background-opacity: 0.8;

:root {
  --background-color: #{$secondary-color};
  --background-color-dark: #{$quinary-color};
  --text-color: #{$primary-color};
  --text-color-current: #{$tertiary-color};
}

[data-theme="dark"] {
  --background-color: #{$primary-color};
  --background-color-dark: #{$quaternary-color};
  --text-color: #{$secondary-color};
  --text-color-current: #{$primary-color};
}

@mixin easeOut {
  transition: all 1s ease-out;
}

@mixin bg-color {
  background: var(--background-color);
  opacity: $background-opacity;
}

.bg-color-2 {
  background: var(--background-color);
  color: var(--text-color);
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;
    }
  }
  .bg-layer {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    color: var(--text-color);
    @include bg-color;
  }
}

// set text color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}

// Media query mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}
@mixin mediaMd {
  @media screen and (min-width: 501px) and (max-width: 768px) {
    @content;
  }
}
@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}
@mixin mediaXL {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
