@import "config";

.form {
  max-width: 300px;
  min-width: 50vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border: 2px solid var(--text-color);
  background: white;
  display: grid;

  &-header {
    grid-column: 1;
    margin: auto;
    margin-top: 25px;
  }
  &-email,
  &-name,
  &-message {
    grid-column: 1;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    height: 30px;
    text-align: center;
  }

  &-message {
    height: 100px;
    resize: none;
    &:focus {
      outline: 1px solid var(--text-color);
    }
  }

  input {
    &:focus {
      outline: 1px solid var(--text-color);
    }
  }

  &-button {
    grid-column: 1;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 25px;
    height: 30px;
    width: auto;
  }
}
