@import "config";

// recipies
.recipies {
  //display: grid;
  //grid-gap: 0.7rem;
  //grid-template-columns: repeat(3, 1fr);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  .item {
    position: relative;
    margin-top: 40px;

    img {
      //width: 100%;
      border: 3px solid var(--text-color-current);
      opacity: 0.7;
      width: 300px;
      height: 337px;
      object-fit: cover;

      &:hover {
        opacity: 1;
        border-color: var(--text-color);
        @include easeOut;
      }
    }

    .recipeHeader {
      position: absolute;
      top: -30px;
      text-align: center;
    }
  }
}

// one recipe
.recipe {
  .ingredients {
    margin: 30px;
    border: 3px solid var(--text-color);
    max-height: 300px;
    border-radius: 5px;
    position: sticky;
    top: 0;
    background-color: $quinary-color;
    padding: 5px 5px 15px 15px;
    font-size: 20px;
    z-index: 3;
    //display: flex;

    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }
  }

  .steps {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px;
    .step {
      border: 3px solid var(--text-color);
      border-radius: 5px;
      padding: 10px;
      text-align: center;
      height: 300px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      position: relative;

      .dot {
        height: 40px;
        width: 40px;
        background-color: var(--text-color-current);
        border-radius: 50%;
        position: absolute;
        top: -20px;
        left: 5px;
        border: 3px solid var(--text-color);
        padding: 4px;
      }
    }
    img {
      height: 300px;
      width: calc((100vw / 2) - 45px);
      border: 3px solid var(--text-color);
      border-radius: 5px;
      object-fit: cover;
    }
  }

  a:link,
  :visited,
  :hover {
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
  }
}

.ingredient-line {
  //display:inline-block;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ingredient {
  display: flex;
  width: 450px;

  &-checkbox {
    margin-right: 5px;
  }
  &-amount {
    flex: 0 1 calc(25% - 10px);
    margin-right: 10px;
  }
  &-name {
    display: block;
    flex: 1 1 auto;
  }

  a:hover {
    color: var(--text-color-current);
  }
}
