@mixin smallMenu {
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 100vh;
    transform: translate3d(100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 0;
  }
}

// Widescreens
@include mediaXL {
  .ingredient {
    width: 380px;
  }
}

// Desktops and laptops
@include mediaLg {
  .ingredient {
    width: 380px;
  }
}

// tablets and small laptops
@include mediaMd {
  @include smallMenu;

  .lg-heading {
    font-size: 20px;
  }
  .sm-heading {
    font-size: 50px;
  }
  p {
    font-size: 12px;
  }

  // recipies
  .ingredients ul {
    columns: 2 !important;

    .ingredient {
      width: 350px !important;
    }
  }
}

// smartphones
@include mediaSm {
  @include smallMenu;

  .lg-heading {
    font-size: 20px;
    max-width: calc(100vw - 150px);
  }
  .sm-heading {
    font-size: 40px;
  }

  // recipies
  .ingredients {
    max-height: 250px !important;
    ul {
      columns: 1 !important;
    }
    overflow: scroll;
    .ingredient {
      width: 280px !important;
      font-size: 13px;
    }
  }
  .steps {
    grid-template-columns: 1fr !important;
    img {
      width: 100% !important;
    }
  }
}
