@import "config";
@import "menu";
@import "buttons";
@import "recipe";
@import "form";

* {
  box-sizing: border-box;
}

body {
  @include background;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

h1 {
  margin-left: 3vw;
  margin-top: 3vw;
}

h2 {
  margin: 0;
  margin-left: 8vw;
  margin-right: 8vw;
  margin-bottom: 5vw;
  font-family: cursive;
  font-size: 80px;
}

h3 {
  margin: 5px;
}

#home {
  p {
    margin: 0;
    margin-left: 8vw;
    margin-right: 8vw;
  }
}

@import "screen";
